body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.color{
    color: rgb(221, 52, 10);
}

.stay-focused{
    display: flex;
    padding-left: 30px;

}
.pad{
    padding-top: 10px;
    padding-bottom: 10px;
}
.first-module{
    width: 50%;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.first-module img{
    width: 80%;
    height: 70%;
    padding-bottom: 10%;
    padding-left: 5%;

}
#bg{
    background-image:url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position:left;
    background-size:20%;
    
}
.explore-button{
    text-decoration: none;
    font-weight:400;
    background-image:linear-gradient(orange, tomato);
    padding: 8px 20px;
    border-radius:5px;
    color: whitesmoke;
    
}

#mission{
    text-align: center;
}
.mission-2022{
    display: flex;
    padding-bottom: 200px;
    
}
.second-module{
    width: 33%;
    box-shadow:10px 10px 40px gray;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

}
#bg-2{
    background-image:url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position:right;
    background-size:20%;
}
.second-module p{
    padding:5px;
    padding-bottom: 10px;
}
.second-module img{
    width: 70%;
    height: 70%;

}
#mission-2{
    text-align: center;
}
footer{
    font-family: Brush Script MT,cursive;;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
}